.icon {
  position: relative;
  top: 6px;
}

.navbar-wrapper {
    width: 80vw;
    margin-top: 2vh;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mode {
      font-weight: 200;
      cursor:pointer;
      &:hover{
        opacity: 0.6;
      }
    }
    .links-wrapper {
      button {
        font-weight: 200;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        outline: none;
        border: 0px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
      .active {
        color: rgb(0, 0, 0);
      }
    }
  }

  
.navbar-wrapper.light {
  width: 80vw;
  margin-top: 2vh;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .mode {
    font-weight: 400;
    cursor:pointer;
    &:hover{
      opacity: 0.6;
    }
  }
  .links-wrapper {
    button {
      font-weight: 400;
      font-size: 16px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      padding: 10px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
    .active {
      color: rgb(189, 189, 189);
    }
  }
}