@import "./include-media";

.work-wrapper {
  width: 50vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  h1 {
    background: linear-gradient(to right,#f3cdff, #3794ff);
    background-size: 100%;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    @include media(">=phone", "<tablet") {
      font-size: 2rem;
    }
}
}

.work-wrapper.light {
  width: 50vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  h1 {
    background: linear-gradient(to right,#f3cdff, #3794ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 3rem;
    @include media(">=phone", "<tablet") {
      font-size: 2rem;
    }
}
}