@import "./include-media";

.card {
  border-radius: 20px;
  border-width: 0;
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    h1 {
      font-size: 30px;
      font-weight: 200;
      color: rgb(255, 255, 255);
    }
    p {
      font-size: 15px;
      font-weight: 200;
      color: white;
      margin-bottom: 20px;
      @include media(">=phone", "<desktop") {
        font-size: 16px;
      }
    }
    .btn {
      background: linear-gradient(to right,#bea0c7, #3794ff);
      color: white;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
    }

    &:hover {
      opacity: 0.95;
      height: 100%;
      width: 100%;
      background-color: #121212;
    }
  }
}