@import "./include-media";

.tilt-wrapper {
  width: 100%;
  max-width: 500px;
  height: 250px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card {
  border-radius: 20px;
  border-width: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 300ms ease-in-out;
  transform-style: preserve-3d;
  .content {
    text-align: center;
    border-radius: 20px;
    border-width: 0;
    height: 120%;
    width: 100%;
    padding: 40px 30px 30px;
    opacity: 0;
    transition: all 300ms ease-in-out;
    transform: translate(0, 30px);
    h1 {
      font-size: 23px;
      font-weight: 400;
      color: rgb(255, 255, 255);
    }
    p {
      font-size: 15px;
      font-weight: 200;
      color: white;
      margin-bottom: 20px;
      @include media(">=phone", "<desktop") {
        font-size: 16px;
      }
    }
    .btn {
      background: linear-gradient(to right,#bea0c7, #3794ff);
      color: white;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
      &:hover{
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 10px 10px rgba(242, 189, 255, 0.2);
      }
    }
    &:hover {
      opacity: 0.95;
      height: 100%;
      width: 150%;
      background-color: #121212;
    }
  }
}

.card:hover{
  box-shadow: 0px 0px 20px 10px rgba(119, 86, 126, 0.5);
  z-index: 1;
}