@import "./include-media";

.gradient{
    background: linear-gradient(to right,#f3cdff, #3794ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .skills-container {
    width: 70vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    h1 {
      font-size: 3rem;
      font-weight: 500;
    }
    
}