@import "./include-media";

.a-link {
  text-decoration: none;
}

.WorkExperienceTextContainer:hover{
  background: linear-gradient(to right,#ca88e0, #2375d3);
}

.WorkExperienceTextContainer.light:hover{
  background: linear-gradient(to right,#f1c7ff, #abd2ff);
}

.workInfo{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.WorkExperienceTextContainer {
  background: linear-gradient(to right,#b97cce, #206abe);
  border: 0.1vh solid rgb(63, 63, 63);
  border-radius: 1vh;
  z-index: 1;
  display: flex;
  padding: 0;
  transition: all 0.5s ease-in-out;
  @include media(">=phone", "<desktop"){
    padding: 10px;
  }
  .WorkExperienceImage {
    position: relative;
    height: 200px;
    z-index: 2;
    border-radius: 1vh;
    display: block;
    margin: 30px;
    @media (min-width: 1024px) {
      margin-top: 80px;
      height: 150px;
    }
    @media (min-width: 1100px) {
      margin-top: 40px;
      height: 200px;
    }
    @media (min-width: 1600px) {
      margin-top: 30px;
      height: 200px;
    }
    @include media(">=phone", "<desktop") {
      width: 0%;
      align-items: center;
      margin: 0px;
    }
  }
  .WorkExperienceTitle {
    padding-top: 10px;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }

  .WorkExperiencePosition {
    font-size: 21px;
    color: rgb(255, 255, 255);
  }

  .WorkExperienceDate {
    font-size: 18px;
    font-weight: 200;
    color: rgb(255, 255, 255);
  }

  .WorkExperienceText {
    font-size: 15px;
    font-weight: 200;
    color: rgb(255, 255, 255);
  }

  p {
    @include media(">=phone", "<lgphone") {
      font-size: 10px;
      width: 100%;
      text-align: center;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
      text-align: center;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
  }
}

.WorkExperienceTextContainer.light {
  background: linear-gradient(to right,#f5e3fa, #bcd9fa);
  border: 0.001vh solid rgb(204, 204, 204);
  border-radius: 1vh;
  z-index: 1;
  display: flex;
  padding: 0;
  @include media(">=phone", "<desktop"){
    padding: 10px;
  }
  .WorkExperienceImage {
    position: relative;
    height: 200px;
    z-index: 2;
    border-radius: 1vh;
    display: block;
    margin: 30px;
    @media (min-width: 1024px) {
      margin-top: 80px;
      height: 150px;
    }
    @media (min-width: 1100px) {
      margin-top: 40px;
      height: 200px;
    }
    @media (min-width: 1600px) {
      margin-top: 30px;
      height: 200px;
    }
    @include media(">=phone", "<desktop") {
      width: 0%;
      align-items: center;
      margin: 0px;
    }
  }
  .WorkExperienceTitle {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }

  .WorkExperiencePosition {
    font-size: 21px;
    color: rgb(0, 0, 0);
  }

  .WorkExperienceDate {
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .WorkExperienceText {
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  p {
    @include media(">=phone", "<lgphone") {
      font-size: 10px;
      width: 100%;
      text-align: center;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
      text-align: center;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
  }
}