@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body {
    margin: 0;
    font-family: "Inter", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(255, 255, 255);
    background: #000000;
  }
  
  code {
    font-family: "Inter", serif;
}

button {
  font-family: "Inter", serif;
}